---
import { getRelativeLocaleUrl } from "astro:i18n";
import { format } from "date-fns";
import { publishedAtFormat } from "../globals/published-at-format";
import { isPostWithCover, type PostModel } from "../lib/content";
import { Caption } from "./ui/caption";
import { Link } from "./ui/link";
import { ThemedImage } from "./ui/themed-image";
import { Title } from "./ui/title";

export interface Props {
  post: PostModel;
}

const { post } = Astro.props;
const [lang, id] = post.id.split("/");
---

<li class="group flex cursor-pointer flex-col rounded-md border border-transparent text-medium duration-100 hover:scale-105 hover:border-slate-300 hover:shadow-md dark:hover:border-slate-600">
	<Link
		href={getRelativeLocaleUrl(lang!, `/${post.collection}/${id}`)}
		className="flex items-center p-3 gap-2"
	>
		<!-- adding display: flex here breaks inline-block hack from below -->
		<div class="flex-1 overflow-hidden">
			<Title
				transition:name={`post.${id}.title`}
				as="h6"
				className="truncate group-hover:text-inherit"
			>
				{post.data.title}
			</Title>
			<!-- this inline-block removes the inherited text-decoration, since it cannot be simply
				overridden like any other parent css style -->
			<Caption
				className="inline-block"
				transition:name={`post.${id}.publishedAt`}
			>
				{format(post.data.publishedAt, publishedAtFormat.full)}
			</Caption>
		</div>
		{isPostWithCover(post) && (
			<ThemedImage
				transition:name={`post.${id}.coverImage`}
				className="h-20 w-20 object-scale-down"
				src={post.data.coverImage}
				srcDark={post.data.coverImageDark}
				alt={post.data.coverAlt}
			/>
		)}
	</Link>
</li>
