---
import { getCollection, getEntries, render } from "astro:content";
import { format } from "date-fns";
import CommentsServerWrapper from "../../../components/CommentsServerWrapper.astro";
import RelatedPosts from "../../../components/RelatedPosts.astro";
import Tag from "../../../components/Tag.astro";
import { Caption } from "../../../components/ui/caption";
import { Text } from "../../../components/ui/text";
import { ThemedImage } from "../../../components/ui/themed-image";
import { Title } from "../../../components/ui/title";
import { publishedAtFormat } from "../../../globals/published-at-format";
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import {
  filterOutDraftPosts,
  isPostWithCover,
  type PostModel,
} from "../../../lib/content";

export async function getStaticPaths() {
  const posts = await getCollection("posts", filterOutDraftPosts);

  return posts.map((post) => {
    const [lang, id] = post.id.split("/");

    return {
      params: { slug: id, lang },
      props: { post },
    };
  });
}

export interface Props {
  post: PostModel;
}

const { post } = Astro.props;

const [_, id] = post.id.split("/");
if (!id) {
  throw new Error("Can't get post id!");
}

const postTags = await getEntries(post.data.tags);

const { Content, remarkPluginFrontmatter } = await render(post);
---

<DefaultLayout
	title={post.data.title}
	description={post.data.description}
	image={isPostWithCover(post) ? post.data.coverImage : undefined}
	type="article"
>
	<div class="flex flex-col gap-6">
		{isPostWithCover(post) && (
			<div class="self-center">
				<ThemedImage
					transition:name={`post.${id}.coverImage`}
					src={post.data.coverImage}
					srcDark={post.data.coverImageDark}
					alt={post.data.coverAlt}
				/>
			</div>
		)}

		<Title
			as="h1"
			transition:name={`post.${id}.title`}
		>
			{post.data.title}
		</Title>

		<div class="flex flex-col justify-between gap-2 lg:flex-row lg:items-center">
			<div class="flex items-center gap-2">
				<Caption transition:name={`post.${id}.publishedAt`}>
					{format(post.data.publishedAt, publishedAtFormat.full)}
				</Caption>
				<Caption>&#x2022;</Caption>
				<Caption>{remarkPluginFrontmatter.minutesRead}</Caption>
			</div>

			<menu class="m-0 flex list-none gap-1 p-0">
				{postTags.map((tag) => (
					<li class="m-0 p-0">
						<Tag tag={tag} />
					</li>
				))}
			</menu>
		</div>

		<Text as="em">{post.data.description}</Text>

		{post.data.codeUrl && (
			<p>
				All the code mentioned in the post can be found in my
				<a
					href={post.data.codeUrl}
					target="_blank"
					rel="noreferrer"
				>
					GitHub
				</a>
			</p>
		)}
	</div>

	<article class="prose dark:prose-invert prose-img:mx-auto mt-6">
		<Content/>
	</article>

	{!!post.data.related?.length && <RelatedPosts post={post} />}

	<CommentsServerWrapper
   	server:defer
   	postSlug={id}
	/>
</DefaultLayout>
